<configuration>
    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %logger{36} - %msg%n
                </pattern>
            </layout>
        </encoder>
    </appender>

    <!-- Файловый аппендер для логов категории "node" -->
    <appender name="DISPATCHER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/dispatcher.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/dispatcher-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логирование сообщений для пакета com.example.node в отдельный файл -->
    <logger name="com.bipbup" level="debug" additivity="false">
        <appender-ref ref="DISPATCHER_FILE"/>
    </logger>

    <!-- Указание общего уровня логирования для всего приложения -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
